@import 'app/scss/_colors.scss';

.actions-form {
  .button-cancel {
    margin-right: 16px !important;
    height: 50px !important;
    width: 180px !important;
  }
  .button-save {
    height: 50px !important;
    width: 180px !important;
    background: $color-blue !important;
  }
}