$color-close: #ACB0BA;
$background-table: #fafbfd;
$background-active-row: #eff1f6;
$border-color: #dadada;
$background-color-hover-row: #e8ebf0;
$menu-header-item: #0078ba;
$background-header: #f4c700;